
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    background-color: #f0f0f0;
}